%link(rel="stylesheet" href="/css/validationEngine.jquery.css")
%link(rel="stylesheet" href="/scss/task_pedes_count")
- frame_begin = @meta_tags[:frame_begin].to_i
- frame_end = @meta_tags[:frame_end].to_i
- cls = "past"
- for i in frame_begin...frame_end
  .col-lg-12{id:"frame#{i}",class:"task_pedes_count #{cls}"}
    - img_path,pedestrians = @task.get_frame_info(@meta_tags[:data_id],i)
    .col-lg-5{style:"height=#{@meta_tags[:image_height]};"}
      - if (!pedestrians.empty?)
        %canvas{id:"canvas_nonfocus_#{i}", class:"canvas_nonfocus",width:@meta_tags[:image_width], height:@meta_tags[:image_height]}
        %meta{id:"meta-img_path_#{i}", name:"img_path_#{i}", value:img_path}
        %meta{id:"meta-pedestrians_#{i}", name:"pedestrians_#{i}", value:pedestrians.to_json}
      - else
        %img{src:img_path,height:@meta_tags[:image_height],width:@meta_tags[:image_width]}
    .col-lg-7
      -if (pedestrians != nil)
        -if pedestrians.size > 0
          %textarea(readonly cols=70 rows=13 style="width:'90%' min-height:#{@meta_tags[:image_height]-10}px;")
            - for pedes in pedestrians
              = "---&#13;"
              - for key,val in pedes
                = " #{key}: #{val}&#13;"
        -else
          = "誰もカウントされませんでした．"
      -else
        = "タグ付けがまだです."
  %hr

%script(src="/js/jcanvas.min.js")
%script(src="/js/jquery.validationEngine.js")
%script(src="/js/jquery.validationEngine-ja.js")
%script(src="/coffee/task_pedes_count.js")
