- for task in @tasks
	%p
		%table.col-lg-12.progress_table
			%caption
				- if task.is_a?(Array)
					= task.join(" ")
				- else
					= task
			%tr
				%th(width="25%") data ID
				%th # of tickets
				%th # of completion
				%th # of rest tickets
				%th # of passbacks
			-for id, counts in @ticket_counts
				%tr
					%td= id
					%td.number= counts[task][:tickets]
					%td.number= counts[task][:completed]
					%td.number= counts[task][:tickets] - counts[task][:completed]
					%td.number= counts[task][:passbacks]
	%br
	%br
	%br
	%br
	%br
#breakable