%link(rel="stylesheet" href="/select2/select2.css")
%link(rel="stylesheet" href="/css/validationEngine.jquery.css")
%link(rel="stylesheet" href="/scss/task_pedes_count")
- @skippable = false
- frame_begin = @meta_tags[:frame_begin].to_i
- frame_end = @meta_tags[:frame_end].to_i
- frame_num = @meta_tags[:frame_num].to_i
%form#annotation_completion.position-relative{:action => '/annotation', :method => 'post'}
  %input(name="frame_begin" type="hidden" value="#{frame_begin}")
  .col-lg-9.fixed_menu
    = haml :'common_parts/annotation_submit'

  - cls = "past"
  - i_init = [frame_begin-@meta_tags[:pre_frame_num].to_i,0].max
  - ticket = @task.find_ticket(@meta_tags['blob_id'],i_init)
  - for i in i_init...[frame_end+@meta_tags[:post_frame_num].to_i,frame_num].min
    -if i==frame_begin-1
      - cls = "past prev_segment"
      - ticket = @task.find_ticket(@meta_tags['blob_id'],i)
    -elsif i==frame_begin
      - ticket = @task.find_ticket(@meta_tags['blob_id'],i)
      - cls = "focus"
      %ul
        %li 以下の映像中で人が線を超えたところで，その人物を矩形で囲ってください．
        %li 女性は左クリック，男性は右クリックで囲う
    -elsif i==frame_end
      - ticket = @task.find_ticket(@meta_tags['blob_id'],i)
      .col-lg-12
      - cls = "future"
    .col-lg-12{id:"frame#{i}",class:"task_pedes_count #{cls}"}
      -if cls=="focus"
        .col-lg-5{style:"min-height=#{@meta_tags[:image_height]}px;"}
          / ここに特定のframeの画像を表示する
          %canvas{id:"canvas_current_#{i}",class:"canvas_current",width:@meta_tags[:image_width], height:@meta_tags[:image_height]}
          / %input{id:"post_canvas_#{i}", type:'hidden', name:"canvas_data_#{i}", value:''}
        .col-lg-7
          .annotation_form{id:"annotation_form_#{i}"}
      -else
        - img_path,pedestrians = @task.get_frame_info(ticket,i)
        .col-lg-5{style:"height=#{@meta_tags[:image_height]};"}
          - if (!pedestrians.empty?)
            %canvas{id:"canvas_nonfocus_#{i}", class:"canvas_nonfocus",width:@meta_tags[:image_width], height:@meta_tags[:image_height]}
            %meta{id:"meta-img_path_#{i}", name:"img_path_#{i}", value:img_path}
            %meta{id:"meta-pedestrians_#{i}", name:"pedestrians_#{i}", value:pedestrians.to_json}
          - else
            %img{src:img_path,height:@meta_tags[:image_height],width:@meta_tags[:image_width]}
        .col-lg-7
          -if (pedestrians != nil)
            -if pedestrians.size > 0
              %textarea(readonly cols=70 rows=13 style="width:'90%' min-height:#{@meta_tags[:image_height]-10}px;")
                - for pedes in pedestrians
                  = "---&#13;"
                  - for key,val in pedes
                    = " #{key}: #{val}&#13;"
            -else
              = "誰もカウントされませんでした．"
          -else
            /= "タグ付けがまだです."
            - if cls == "future"
              = "タグ付けがまだのフレームです（前後の状況確認用)"
            - else
              = "タグ付け済みのフレームです（前後の状況確認用)"
    %hr

#attributes_template.hidden
  %fieldset.underline
    .left.float-left
      %label.pedes_label 通行人ラベル
      = "移動方向:"
      %select.select.direction(name="direction[]" class="validate[required]")
        %option(value="" selected) 選択してください
        %option(value="forward")  矢印通りの方向
        %option(value="backward") 矢印と逆方向
      = "性別:"
      %input.gender(name="gender[]" type='text' value='not set' readonly style='width:50px;')
      %textarea.rect(name="rect[]" type='textarea' value='not set' readonly rows=2 style='width:100%;')
      %input.frame(name="frame[]" type='hidden' value='not set')
      %input.timestamp(name="timestamp[]" type="hidden" value='not set')
    .right
      %button.btn-warning.delete{type:"button"} 削除

%script(src="/select2/select2.min.js")
%script(src="/js/jcanvas.min.js")
%script(src="/js/jquery.validationEngine.js")
%script(src="/js/jquery.validationEngine-ja.js")
%script(src="/coffee/task_pedes_count.js")
