%link{:rel=>"stylesheet", :href=>"http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"}
.form.col-lg-12
	%form#annotation_completion{:action => '/annotation', :method => 'post'}
		.col-lg-12
			矩形で表された物体に相当するラベルを右のリストから一つ選んで下さい．詳しくは画面下の指示に従って下さい．
		.no-padding.col-lg-6
			%canvas#img{:width=>@meta_tags[:image_width], :height=>@meta_tags[:image_height],:class => "clickable"}
			%br
			%button.btn.btn-default#btn-raw_image{:type=>'button'} 画像全体を表示
			%button.btn.btn-default#btn-mask_image{:type=>'button'} 検出された物体領域のみを表示
			%br
			%br
			%fieldset
				= haml :'common_parts/annotation_submit'

		.no-padding.col-lg-6
			.input-group.col-lg-12
				- iter = 0
				%table{width:"100%"}
					- for cand in JSON.parse(@meta_tags[:candidates])
						%tr
							%td{width:"40%"}
								%input{:type=>"radio", :id => "radio_#{iter}",:name=>'label',:text=>cand,:value=>cand}
								%label{:for=>"radio_#{iter}"}
									= cand
								%br
								- iter = iter + 1
							%td
								%input{:type=>"radio", :id => "radio_#{iter}",:name=>'label',:text=>cand,:value=>"option+#{iter}+#{cand}"}
								%label{:for=>"radio_#{iter}"}
									= "#{cand}の"
									%input{:type=>"text",:name=>"option_#{iter}",:id=>"text_#{iter}_option", :value=>"フタ", size:"8"}
								%br
								- iter = iter + 1
				%input#radio_mixture{:type=>"radio",:name=>'label',:value=>"water"}
				%label{:for=>"radio_water"}
					水道のタップ
				%br
				%input#radio_mixture{:type=>"radio",:name=>'label',:value=>"mixture"}
				%label{:for=>"radio_mixture"}
					混合された食材で名付けられないもの
				%br
				
				%input#radio_container{:type=>"radio",:name=>'label',:value=>"tools_not_in_list"}
				%label{:for=>"radio_container"}
					上記以外の容器や調理器具 (種別): 
					%input#text_container{:type=>"text",:name=>'other_tool',:value=>"ボウル"}
				%br
				※ [ボウル，ビニール袋，発泡スチロールトレー, ふきん, 洗剤, スポンジ]など。左のリストに無いものが出た場合は監督者に報告すること

		.no-padding.col-lg-12
			指示内容
			%ul
				%li
					複数の物体が矩形に囲まれている場合は，矩形に内接する物体(矩形内で最も矩形にフィットする物体)を選んでください．ただし，矩形は手動でつけられたものなので，多少物体がはみ出したりしている場合があります．
				%li
					物体の一部の場合は，ラベル候補右列の「○○のXX」というラベルをつけてください．ただしXXには基本的に以下のものを入れて，表記揺れの無い様にしてください．以下のリストのいずれにも当てはまらないと思われる場合は監督者に確認してください．
					%br
					[フタ, 食べない部分，ボトル，包装]
				%li
					矩形に囲まれた調味料が何かについては，下記の写真を参考にして判別してください．下記の写真にない調味料については監督者に訪ねてください．
					%img(src="/img/seasonings_front.jpg" width="100%")
					%br
					%img(src="/img/seasonings_top.jpg" width="100%")
%script(src="/js/jcanvas.min.js")
%script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
%script(src="/js/task3.js")
